<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>

    <h3>
        <table border="2" padding="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date of birth</th>
                    <th>ID number</th>
                    <th>Place of birth</th>
                </tr>
            </thead>
            <tbody>
                     {% for id in user %}
                    <tr>
                        <td>{{ id.name }}</td>
                        <td>{{ id.surname }}</td>
                        <td>{{ id.dateofbirth }}</td>
                        <td>{{ id.idnumber }}</td>
                        <td>{{ id.placeofbirth }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </h3>
        </form>
</body>
</html>
